<!-- Navigation bar (Page header) -->
<header class="navbar navbar-expand navbar-sticky sticky-top d-block z-fixed py-1 py-lg-0 py-xl-1 px-0 bg-primary"
  data-sticky-element="">
  <div class="container-fluid justify-content-start py-2 py-lg-3">


    <!-- Navbar brand (Logo) -->
    <a class="navbar-brand fs-2 p-0 pe-lg-2 pe-xxl-0 me-0 me-sm-3 me-md-4 me-xxl-5" href="index.html">
      <img src="assets/img/logo_.png" class="img-fluid" width="200px" alt="logo" />
    </a>

    <!-- Button group -->
    <div class="d-flex align-items-center gap-2 ms-auto">
     <!-- Account button visible on screens > 768px wide (md breakpoint) -->
      <a class="text-white btn btn-icon fs-lg border animate-shake d-inline-flex" href="#javascript">
        <i class="fa-regular fa-user animate-target"></i>
        
      </a>

      <!-- Cart button -->
      <a href="#" class="text-white btn btn-icon fs-lg position-relative border animate-shake d-inline-flex">
        <i class="fa-regular fa-bell"></i>
        <span class="position-absolute top-0 start-50 translate-middle badge bg-white fs-xs text-primary rounded-pill ms-n3">8</span>

      </a>
    </div>
  </div>


</header>